* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
   
}

body {
  background: linear-gradient(to bottom left, #c499f8, #6407ce); 
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.gridContainer {
  
  margin: auto;
}

/* ======================================================= */
/*                       Overlay                           */
/* ======================================================= */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(224, 149, 243, 0.4);
  height: 110vh;
}

/* ======================================================= */
/*                         Modal                           */
/* ======================================================= */
.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid rgb(136, 119, 120);
  border-radius: 5px;
  padding: 30px 20px;
  line-height: 1.6;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}


h1 {
  font-size: 2.3rem;
  padding: 15px;
  text-align: center;
}

/* ======================================================= */
/*                         Cards                           */
/* ======================================================= */

.card {
  display: flex;
  align-items: center;
  line-height: 1.5;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  padding: 15px;
  background-color: #FDFDFD;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  color: #F05656;
}


.card img {
  border-radius: 50%;
  margin-right: 15px;
}


.card p {
  color: #b0b5b7;
}

.leftArrow,
.rightArrow {
  width: 70px;
  height: 30px;
  margin-top: 10px;
  background-color: #F05656;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
}

/* ======================================================= */
/*                     Employee Search                     */
/* ======================================================= */

div[class="autocomplete"] {
  text-align: center;
}

input[id="employee-search"] {
  width: 500px;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto 25px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main {
  display: grid;
}

.gridContainer {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

